body {
    background-image: url('./assets/background.jpg');
    font-family: 'Pangolin', cursive;
}

#game_title {
    font-size: 4em;
}

#input_fields {
    background: white;
    padding: 1em;
    border: 2px dashed black;
    border-radius: 2em;
}
